.title_bg {
  background-color: white;
  text-align: center;

  height: 210px;
  border-bottom: 0.5px solid gray;

  //   position: absolute;
  //   top:200px;
}
.lobbytitle {
  padding-top: 150px;
}

.lobbytitle h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
}

.title_link {
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
.title_link a {
  color: #1f71b8;
  font-weight: 800;
  //   position: absolute;
}
.title_link span {
  top: 5px;
  margin: 5px;
}

//Lobby cards:

// .LobbycardImg {
//   margin-top: 1em;
//   color: #fab5b5;
//   font-size: 2.5em;
// }
.profileDiv {
  text-align: center;
}
.profile {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 5px solid lightgrey;
}
.profileEdit {
  font-size: 2em;
  opacity: 0.2;
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.profile:hover {
  cursor: pointer;
}
.profile:hover + .profileEdit,
.profileEdit:hover {
  cursor: pointer;
  opacity: 0.8;
}
