.title_bg {
  background-image: url('titlebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  // background-color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
  min-height: 25vh;
  border-bottom: 0.5px solid gray;

  //   position: absolute;
  //   top:200px;
}

.lobbytitle {
  padding-top: 20vh;
  padding-bottom: 3.5vh;
  // background-color: rgba(255,255,255, 0.1);
  // opacity: 0.1;
}

.lobbytitle h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
}

.title_link {
  position: absolute;
  bottom: 0;
  right: 3vw;
  font-size: 18px;
}

.title_link a {
  color: #1f71b8;
  font-weight: 800;
  //   position: absolute;
}

.title_link span {
  top: 5px;
  margin: 5px;
}

.LinkB {
  display: none;
}

@media screen and(max-width:420px) {
  .col span,
  .LinkA {
    display: none;
  }

  .LinkB {
    display: unset;
    text-align: center;
  }

  .title_link {
    right: unset;
    right: 5.8vw;
  }
}

//Lobby cards:

// .LobbycardImg {
//   margin-top: 1em;
//   color: #fab5b5;
//   font-size: 2.5em;
// }
.profileDiv {
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 5px solid lightgrey;
}

.profileEdit {
  font-size: 2em;
  opacity: 0.2;
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.profile:hover {
  cursor: pointer;
}

.profile:hover + .profileEdit,
.profileEdit:hover {
  cursor: pointer;
  opacity: 0.8;
}

//Edit: change password

.passwordTitle {
  cursor: pointer;
  background-color: #fab5b5;
}

.passwordBody {
  background-color: #f7f7f7;
}

//Password styling
input[type='password'] {
  font: small-caption;
  font-size: 16px;
}
