.lobbytitle{
    background-color: white;
    text-align: center;
    font-size: 36px;
    height: 210px;
    border-bottom: 0.5px solid gray;
}

.lobbytitle h1{
    margin: 0;
    font-weight: 800;
}