@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif TC', serif;
}

footer {
  position: absolute;
  bottom:0;
  width: 100%;
}
