@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import 'react-credit-cards/lib/styles.scss';

@import './home.scss';
@import './login.scss';
@import './navabr.scss';
@import './sidebar.scss';
@import './memebr/LobbyTitle.scss';
@import './purchase/Cart.scss';
@import './footer.scss';
@import './tool.scss';
@import './about.scss';

@import './react-spring-card.scss';
@import './loading.scss';

@import './productList.scss';
@import './product.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  // font-family: arial, 'Microsoft JhengHei', '微軟正黑體', sans-serif !important;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif TC', serif;
  // font-family: arial, 'Microsoft JhengHei', '微軟正黑體', sans-serif !important;
}

.topSpace {
  height: 70px;
}

@media screen and(max-width:800px) {
  body {
    padding-bottom: 10vh;
  }
}

::selection {
  background: $primary;
  color: white;
}
