footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_bg {
  width: 100%;
  margin-right: 0;
}

.footer_subtitle {
  padding-right: 0;
  text-align: right;
}

.footer_icon {
  
}
.footer_icon svg {
  width: 1.5em;
  height: 1.5em;
}
