.qt-background {
  background: url(../img/disc/coffee1.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.qt-background p {
  font-size: 35px;
  font-weight: 300;
  line-height: 44px;
  color: #fff;
  font-family: 'Arbutus Slab', serif;
  margin-bottom: 20px;
}

.qt-background span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.qt-background2 {
  background: url(../img/disc/call.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.qt-background2 p {
  font-size: 35px;
  font-weight: 300;
  line-height: 44px;
  color: #fff;
  font-family: 'Arbutus Slab', serif;
  margin-bottom: 20px;
}

.qt-background2 span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.qt-background3 {
  background: url(../img/disc/call2.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.qt-background3 p {
  font-size: 35px;
  font-weight: 300;
  line-height: 44px;
  color: #fff;
  font-family: 'Arbutus Slab', serif;
  margin-bottom: 20px;
}

.qt-background3 span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.filter-button-group {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin: 10px 15px;
  display: inline-block;
}

.filter-button-group button {
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background: #fff;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
}

.filter-button-group button.active {
  background: #cfa671;
  color: #fff;
  box-shadow: 2px 20px 45px 5px rgba(0, 0, 0, 0.2);
}

.btn-outline-new-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #cfa671;
}

.btn-outline-new-white:hover {
  color: #ffffff;
  background-color: #cfa671;
  border-color: #cfa671;
}

.inner-column .btn-outline-new-white {
  color: #d0a772;
}

.inner-column .btn-outline-new-white:hover {
  color: #ffffff;
}

.why-text {
  position: absolute;
  left: 0;
  bottom: -100%;
  right: 0;
  height: 100%;
  background: rgba(207, 166, 113, 0.9);
  padding: 12px 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.why-text h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Arbutus Slab', serif;
}

.why-text p {
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px dashed #010101;
  margin: 0px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.why-text h5 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.gallery-single:hover .why-text {
  bottom: 0px;
}

.gallery-single {
  margin: 30px 0px;
}

.gallery-single {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.gallery-box {
  padding: 70px 0px;
}

.tz-gallery {
  margin-top: 30px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.page-breadcrumb {
  padding: 80px 0 150px;
  background: url(../img/disc/coffee1.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.all-page-title .container {
  position: relative;
  z-index: 2;
}

.all-page-title::before {
  background: #010101;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}

.all-page-title h1 {
  font-size: 38px;

  padding: 0px;
}

.about-image img,
.team-thumb img {
  width: 100%;
}

.team-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-thumb .team-hover {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.team-thumb img {
  transition: 0.5s 0.2s;
}

.team-thumb:hover img {
  transform: scale(1.2);
}

.team-thumb .social-icon li a {
  background: #292929;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9d9d9;
  font-size: 20px;
  margin: 15px 5px 0 5px;
}

.team-thumb .team-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team-thumb .team-hover {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.flip-container {
  perspective: 1000;
}

/* turning on hover */

.flip-container:hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 350px;
  text-align: center;
  font-size: 30px;
}

.flipper {
  -webkit-transition: 0.3s all;
  -webkit-transition-delay: 0.3s;
  -moz-transition: 0.3s all;
  -moz-transition-delay: 5s;
  -ms-transition: 0.3s all;
  -ms-transition-delay: 5s;
  -o-transition: 0.3s all;
  -o-transition-delay: 5s;
  transition: 0.3s all;
  transition-delay: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front side is in front of a back side */

.front {
  z-index: 2;
  color: white;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back side */

.front {
  padding: 40px 30px;
}

.front .icon {
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 30px auto;
}

.front h4 {
  margin-top: 0px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

// .first-service .front,
// .first-service .back {
//   background-color: rgba(244, 188, 81, 0.9);
// }

.first-service .front,
.first-service .back {
  background-color: rgba(180, 43, 146, 0.9);
}

.second-service .front,
.second-service .back {
  background-color: rgba(243, 158, 75, 0.9);
}

.third-service .front,
.third-service .back {
  background-color: rgba(185, 78, 94, 0.9);
}

.fourth-service .front,
.fourth-service .back {
  background-color: rgba(232, 104, 89, 0.9);
}

.back {
  transform: rotateY(180deg);
}

.back p {
  color: #fff;
  padding: 90px 30px;
}

.events .filter-categories {
  list-style: none;
  margin-top: 0px;
  padding-right: 0px;
  text-align: center;
  margin-bottom: 60px;
}

.events .filter-categories li {
  display: inline;
  text-align: center;
  margin: 8px 0px;
}

.events .filter-categories li {
  display: block;
  transition: all 0.5s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #121212;
  font-size: 17px !important;
  font-weight: 600;
  display: inline-block;
  max-width: 200px;
  width: 200px;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  cursor: pointer;
}

.filter-categories ul li.active span {
  color: #f4bc51;
}

.events .filter-categories li {
  text-align: center;
  display: inline-block;
  margin-bottom: -5px;
}

.events .filter-categories li {
  cursor: pointer;
  display: block;
  transition: all 0.5s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #121212;
  font-size: 14px !important;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding: 0px 10px;
}

.tab-item {
  background: none repeat scroll 0 0 #fff;
  display: none;
  padding: 1.25rem 0;
}

.tab-item.tab-active {
  display: block;
}

.tab-content>.tab-label {
  display: none;
}

.tab-nav>.tab-label {
  float: left;
}

a.tab-label,
a.tab-label:link,
a.tab-label:visited,
a.tab-label:hover {
  background: none repeat scroll 0 0 #262626;
  color: #fff;
  margin-right: 1px;
  padding: 0.625rem 1.25rem;
  transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -ms-transition: background 0.2s linear 0s;
  -moz-transition: background 0.2s linear 0s;
  -webkit-transition: background 0.2s linear 0s;
}

a.tab-label:hover,
a.tab-label.active-btn {
  background: none repeat scroll 0 0 #999;
}

.tab-label.active-btn {
  cursor: default;
}

.tab-content {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tab-nav>.tab-label {
    margin: 0.5px 0;
    width: 100%;
  }
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .intro-subtitle {
  font-size: 2.5rem;
}

.intro .text-slider-items {
  display: none;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bbbbb {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .bbbbb {
    display: none;
  }

  .ccccc {
    display: none;
  }

  .tyu2 {
    display: none;
  }

  .cvb2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .qweqwe img {
    display: none;
  }

  .aaaaa {
    display: none;
  }

  .navbar-fixed-bottom {
    height: 10.1vh;
  }

  .tyu {
    display: none;
  }

  .cvb {
    display: none;
  }

  .asdasd {
    float: left;
    width: auto;
  }

  .jumbotron {
    text-align: center;
  }

  footer {
    float: left;
    text-align: center;
  }

  .row::after {
    content: '';
    clear: both;
    display: table;
  }

  .tyutyu {
    font-size: x-small;
  }
}

//newsidebar
.sidebar2 {
  margin: 0;
  padding: 0;
  width: 90%;
  background-color: #f1f1f1;
  // position: fixed;
  // height: 100%;
  overflow: auto;
}

.sidebar2 a {
  display: block;
  color: black;
  padding: 0px;
  // text-decoration: none;
}

.sidebar_m2 a {
  display: block;
  width: 25vw;
  color: black;
  padding: 16px;
  border: 0.5px solid lightgrey;
  // text-decoration: none;
}

.side_title2 {
  display: block;
  color: white;
  padding: 16px;
  // text-decoration: none;
}

.sidebar2 a.active,
.sidebar_m2 a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar2 a:hover:not(.active),
.sidebar_m2 a:hover:not(.active) {
  background-color: #6e8080;
  color: white;
}

.side_title2 {
  background-color: #555;
  color: white;
  border-left: 0.7vw solid black;
}

.sidebar3 {
  margin: 0;
  padding: 0;
  width: 90%;
  background-color: #f1f1f1;
  // position: fixed;
  // height: 100%;
  overflow: auto;
}

.sidebar3 a {
  display: block;
  color: black;
  padding: 0px;
  // text-decoration: none;
}

.sidebar_m3 a {
  display: block;
  width: 25vw;
  color: black;
  padding: 16px;
  border: 0.5px solid lightgrey;
  // text-decoration: none;
}

.side_title3 {
  display: block;
  color: white;
  padding: 16px;
  // text-decoration: none;
}

.sidebar3 a.active,
.sidebar_m3 a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar3 a:hover:not(.active),
.sidebar_m3 a:hover:not(.active) {
  background-color: #6e8080;
  color: white;
}

.side_title3 {
  background-color: #555;
  color: white;
  border-left: 0.7vw solid black;
}

//行動版sidebar
.sidebar_m2 {
  z-index: 100;
  width: 100vw;
  left: 0;
  height: auto;
  bottom: 0;
  position: fixed;
  margin: 0;
  padding: 0;

  background-color: #f1f1f1;
  // position: fixed;
  // height: 100%;
  overflow: auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar2 {
    display: none;
  }

  .sidebar_m2 {
    display: -webkit-box;
  }

  // .sidebar {
  //   width: 100%;
  //   height: auto;
  //   position: relative;
  // }
  // .sidebar a {
  //   float: left;
  // }
  // div.content {
  //   margin-left: 0;
  // }
}

@media screen and (max-width: 768px) {
  .sidebar2 {
    display: none;
  }

  .sidebar_m2 {
    display: -webkit-box;
  }



  // .side_title{
  //   display: none;
  // }
  // .sidebar a {
  //   text-align: center;
  //   // float: left;
  // }
}

.contact-imfo-box {
  background: #d0a772;
  padding: 30px 0;
}

.contact-imfo-box i {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  color: #d0a772;
  font-size: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-imfo-box h4 {
  margin: 0px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 0px;
  font-weight: 500;
  line-height: 24px;
}

.contact-imfo-box p {
  margin: 0px;
  color: #ffffff;
  font-weight: 300;
}