.productListImage {
  max-width: 180px;
  max-height: 180px;
  object-fit: cover;
}

.productListBlockView{
  max-width: 180px;
}


.productImage {
  height: 500px;
  object-fit: cover;
}

.productImageItem {
  height: 150px;
  width: auto;
  object-fit: cover;
  cursor: pointer;
}

