.averagedRate{
    font-size: 5rem;
}

.titleLabel {
    width: 270px;
    height: 47px;
    border-left: solid 10px black;
  }
  
  .titleLabel h4 {
    text-align: center;
    top: 10px;
    line-height: 47px;
  }